{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/about-bg.jpg') }})">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <p>
                            Hi! I'm Aritra, the developer of Air Blogs.
                            Currently, I'm pursuing my Bachelor's degree (B. Tech) in Information Technology from the Indian Institute of Engineering Science and Technology, Shibpur.
                        </p>
                        <div class="clearfix text-center">
                            <a class="btn btn-primary" href="https://bose-aritra2003.github.io/my-portfolio-website/">
                                <i class="fa-solid fa-user"></i> My Portfolio
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <hr>
{% include "footer.html" %}