<!-- Footer-->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/bose-aritra2003/">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/bose_aritra2003">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa-brands fa-twitter"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/bose_aritra2003/">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa-brands fa-instagram"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/bose-aritra2003">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa-brands fa-github"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="copyright text-muted">Copyright &copy; Aritra Bose 2022</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <!-- JavaScript Bundle with Popper -->
        <!-- Bootstrap core JavaScript -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.js')}}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.js')}}"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/clean-blog.js')}}"></script>
    </body>
</html>
